html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

.button-container {
	overflow: scroll;
    position: absolute;
    top: 146.33px;
    left: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
	max-height: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-container::-webkit-scrollbar {
    display: none;
}

.domain-title {
	font-weight: bold;
	font-size: 14px;
	cursor: default;
	margin-bottom: 5px;
	flex-grow: 1;
    margin-left: 2em;
}

.group-title {
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 5px;
	flex-grow: 1;
}

.button-group {
	margin-bottom: 10px;
}

.button-group.hidden {
	display: none;
}

.button-group-buttons {
	padding-left: 10px;
}

.group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spoiler-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}

.button-group-buttons button {
	display: block;
	margin: 5px 0;
	width: 100%;
	padding: 5px;
	border: none;
	border-radius: 3px;
	background: #007bff;
	color: #fff;
	cursor: pointer;
}

.button-group-buttons button.pressed {
	background: #1463b8;
}

.button-group-buttons button:hover {
	background: #0A6FDC;
}

.button-group-buttons button:active {
	background: #0F69CF;
}

.button-group-buttons button.pressed:active {
	background: #0575ED;
}

.button-group-buttons.hidden {
	display: none;
}

.unselect-button {
	position: absolute;
    top: 84.66px;
    left: 10px;
    z-index: 1200;
}

.info-link {
	position: absolute;
    top: 84.66px;
    left: 72px;
    z-index: 1200;
}

.search_input {
	position: absolute;
    top: 116px;
    left: 10px;
    z-index: 1200;
}

.color_input {
	opacity: 0;
    width: 0;
    height: 0;
	z-index: 1200;
}

.legend {
	z-index: 1000;
	position: absolute;
	top: 20px;
	right: 20px;
	background: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	font-size: 14px;
	max-width: 200px;
	max-height: 450px;
	overflow: scroll;
	display: none;
}

.legend::-webkit-scrollbar {
    display: none;
}

.legend-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.legend-color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 2px solid #000;
	flex-shrink: 0;
}

.leaflet-attribution-flag {
	display: none !important;
}

.village_search_input {
	z-index: 1000;
	position: absolute;
	top: 12px;
	left: 40%;
    width: 20%;
    padding: 8px;
}

.suggestions-list {
	z-index: 1000;
    position: absolute;
    top: 48px;
	left: 40%;
    width: 20%;
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions-list::-webkit-scrollbar {
    display: none;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
	font-size: 12px;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}

.looks_like_link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.looks_like_link:hover {
    text-decoration: underline;
}