<!DOCTYPE html>
<html>
	<head>
		<title>
			Информация
		</title>
	</head>
	<body>
		<a href="/">На главную</a><br>
		Электронный атлас русских говоров на территории Башкирии — цифровой ресурс, позволяющий работать с диалектными картами русских говоров в Башкирии, которые не были охвачены "Диалектологическим атласом русского языка".
		<br>
		В основе проекта лежит лингвогеографический материал по всем разделам языка, собранный З. П. Здобновой в рамках "Атласа русских говоров Башкирии" [Здобнова, 2000] в 197 населенных пунктах региона. Сбор осуществлялся по "Программе собирания сведений для составления диалектологического атласа русского языка" [Аванесов, 1947].
		
		<h4>Участники проекта:</h4>
		<b>Авторы:</b> Анастасия Сергеевна Кузьмина, Арсений Владимирович Манусов, Марина Сергеевна Смолкина<br>
		<b>Руководитель</b>: Роман Витальевич Ронько<br>
		<b>Также принимали участие:</b> Анна Михнева, Даниил Никитенко, Андрей Пихтин, Али Тепсаев, Алина Шишкова, Татьяна Шостак
		
		<h4>Короткая ссылка:</h4>
		Смолкина и др. 2024
		<h4>Длинная ссылка:</h4>
		Кузьмина А.С., Манусов А.В., Ронько Р.В., Смолкина М.С. Электронный атлас русских говоров на территории Башкирии [Электронный ресурс, дата обращения <span id="date"></span>] URL: http://averagemapsenjoyer.pythonanywhere.com/ 2025
		
		<h4>Обратная связь:</h4>
		По техническим вопросам, связанным с работой сайта — Арсений Манусов (arseniymanusov@gmail.com). По вопросам, связанным с данными — Марина Смолкина (marinasmolkina0162@gmail.com). По остальным — Анастасия Кузьмина (askuzmina5487@gmail.com), Арсений Манусов (arseniymanusov@gmail.com), Роман Ронько (romanronko@gmail.com), Марина Смолкина (marinasmolkina0162@gmail.com). В любом порядке.

		
		<h4>Литература:</h4>
		Аванесов Р. И. — Программа собирания сведений для составления диалектологического атласа русского языка / Отв. ред. Р.И. Аванесов; Академия наук СССР. Институт русского языка. [2-е изд.]. М.; Л.: Изд-во АН СССР, 1947. — 218 с.<br>
		ДАРЯ – Диалектологический атлас русского языка: Центр Европейской части СССР / Под ред. Р. И. Аванесова, С. В. Бромлей. Вып. I. Фонетика. М., 1986. Вып. II. Морфология. М., 1989. Вып. III. Часть 1. Лексика. М., 1997; Часть 2. Синтаксис и лексика. М., 2004.<br>
		Здобнова З. П. — Атлас русских говоров Башкирии (в 2-х частях). Ч. 1 и Ч. 2. Уфа: Изд-е Башкирского университета, 2000. — Ч. 1 176 с.; Ч. 2 60 с.<br>
		
		<script>
			document.getElementById("date").textContent = new Date().toLocaleDateString("ru-RU");
		</script>
	</body>
</html>